html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("pattern.png");
  background-repeat: repeat;
  background-size: 64px 64px;
  animation: mover 20s linear infinite;
}

@keyframes mover {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 512px 512px;
  }
}